html,
body {
    height: 100%;

    /*background-image: url(../images/fon.jpg);*/
}
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.box.box-info {
    border-top-color: rgba(34, 82, 255, 0.53);
}
.grid .row {
    width: 100%;
    display: block;
    margin: 0 0 2.12765% 0;
}
.box {
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    /*width: 100%;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button.primary {
    background: #2086bf;
    color: #ffffff;
    border-color: #2086bf;
    border: none;
    padding: 10px;
}
.navbar-inverse {
    /*width:;*/
    /*height: 100px;*/
    /*top: 10px;*/
    border-color: transparent;
    color: white !important;
    background-color: #247ce0 !important;
    /*border-bottom: white !important;*/
    box-shadow: 0 0px 5px silver;
    /*box-shadow:   0 0px 10px white;*/
    mso-border-shadow: yes;
    border-bottom: 5px solid white;
    border-top: 2px solid white;
}
#w1 li> a{
    color: white;
    /*font-family: 'Lucida Grande', Verdana, Arial, sans-serif;*/

}
.navbar {
    border-radius: 0px !important;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.list {
   background-color: white !important;
    padding: 15px !important;
}
.bs-callout-warning:hover {
    transition: 2s;
    border-left-color: #247ce0 !important;
}
.media:hover{
    cursor: pointer;
    /*border: 1px solid silver;*/
    padding: 10px;
    box-shadow: 0 5px 5px silver;
    transition: 1s;
}
.media{
    cursor: pointer;
    /*border: 1px solid silver;*/
    padding: 10px;
    /*box-shadow: 0 0 10px silver;*/
    transition: 1s;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.footer {
    color: white;
    height: 100px;
    background-color: #247ce0;
    border-top: 2px solid white;
    padding-top: 20px;
    box-shadow: 0 0px 5px silver;

}

.ml-2, .mx-2 {
    margin-left: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3, .my-3 {
    margin-top: 1rem !important
}

.mr-3, .mx-3 {
    margin-right: 1rem !important
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important
}

.ml-3, .mx-3 {
    margin-left: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
}

.shadow-none {
    box-shadow: none !important
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*a*/
/*{*/
    /*text-decoration: none;*/
    /*color: #111b47;*/
/*}*/

/*a:hover*/
/*{*/
    /*border-bottom: 1px dashed #ED971F;*/
    /*color: #ED971F;*/
/*}*/

/*!**** slider ****!*/

#slider
{
    height: 200px;
}
#slider2
{
    height: 400px;
    width: 100%;
}

#slider
{
    margin: auto;
    overflow: hidden;
    padding: 20px;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    margin-top: 50px;
    /*border-radius: 10px;*/
    /*box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);*/
    position: relative;
    width: 600px;
}
#slider2
{
    margin: auto;
    overflow: hidden;
    padding: 20px;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    margin-top: 50px;
    /*border-radius: 10px;*/
    /*box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);*/
    position: relative;
    width: 600px;
}

#slider li
{
    float: left;
    position: relative;
    width: 600px;
    display: inline-block;
    height: 200px;
}

#slider ul
{
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left .3s linear;
    -moz-transition: left .3s linear;
    -o-transition: left .3s linear;
    -webkit-transition: left .3s linear;
    margin-left: -25px;
    font-family: century gothic;
    color: #666;
}

#slider2 li
{
    float: left;
    position: relative;
    width: 600px;
    display: inline-block;
    height: 200px;
}

#slider2 ul
{
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left .3s linear;
    -moz-transition: left .3s linear;
    -o-transition: left .3s linear;
    -webkit-transition: left .3s linear;
    margin-left: -25px;
    font-family: century gothic;
    color: #666;
}

/*** Content ***/

.slider-container
{
    margin: 0 auto;
    padding: 0;
    width: 550px;
    min-height: 180px;
    border-bottom: 1px solid #ccc;
}

.slider-container h4
{
    color: #353535;
    text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}

.slider-container  p
{
    margin: 10px 25px;
    font-weight: semi-bold;
    line-height: 150%;
    text-align: justify;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
    0% {opacity:0;}
    2% {opacity:1;}
    20% {left:0px; opacity:1;}
    22.5% {opacity:0.6;}
    25% {left:-600px; opacity:1;}
    45% {left:-600px; opacity:1;}
    47.5% {opacity:0.6;}
    50% {left:-1200px; opacity:1;}
    70% {left:-1200px; opacity:1;}
    72.5% {opacity:0.6;}
    75% {left:-1800px; opacity:1;}
    95% {opacity:1;}
    98% {left:-1800px; opacity:0;}
    100% {left:0px; opacity:0;}
}

#slider ul
{
    -webkit-animation: slide-animation 25s infinite;
}
#slider2 ul
{
    -webkit-animation: slide-animation 25s infinite;
}

/* use to paused the content on mouse over */

#slider ul:hover
{
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
#slider2 ul:hover
{
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}


.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    font-weight: 300
}

.navbar form .md-form input {
    margin: 0 5px 1px 8px
}

.navbar .breadcrumb {
    margin: 0;
    padding: .3rem 0 0 1rem;
    background-color: inherit;
    font-size: 15px;
    font-weight: 300
}
.field:not(:last-child) {
    margin-bottom: 0.75rem;
}

.field.has-addons {
    display: flex;
    justify-content: flex-start;
}

.field.has-addons .control:not(:last-child) {
    margin-right: -1px;
}

.field.has-addons .control:not(:first-child):not(:last-child) .button,
.field.has-addons .control:not(:first-child):not(:last-child) .input,
.field.has-addons .control:not(:first-child):not(:last-child) .select select {
    border-radius: 0;
}

.field.has-addons .control:first-child .button,
.field.has-addons .control:first-child .input,
.field.has-addons .control:first-child .select select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.field.has-addons .control:last-child .button,
.field.has-addons .control:last-child .input,
.field.has-addons .control:last-child .select select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.field.has-addons .control .button:not([disabled]):hover, .field.has-addons .control .button:not([disabled]).is-hovered,
.field.has-addons .control .input:not([disabled]):hover,
.field.has-addons .control .input:not([disabled]).is-hovered,
.field.has-addons .control .select select:not([disabled]):hover,
.field.has-addons .control .select select:not([disabled]).is-hovered {
    z-index: 2;
}

.field.has-addons .control .button:not([disabled]):focus, .field.has-addons .control .button:not([disabled]).is-focused, .field.has-addons .control .button:not([disabled]):active, .field.has-addons .control .button:not([disabled]).is-active,
.field.has-addons .control .input:not([disabled]):focus,
.field.has-addons .control .input:not([disabled]).is-focused,
.field.has-addons .control .input:not([disabled]):active,
.field.has-addons .control .input:not([disabled]).is-active,
.field.has-addons .control .select select:not([disabled]):focus,
.field.has-addons .control .select select:not([disabled]).is-focused,
.field.has-addons .control .select select:not([disabled]):active,
.field.has-addons .control .select select:not([disabled]).is-active {
    z-index: 3;
}

.field.has-addons .control .button:not([disabled]):focus:hover, .field.has-addons .control .button:not([disabled]).is-focused:hover, .field.has-addons .control .button:not([disabled]):active:hover, .field.has-addons .control .button:not([disabled]).is-active:hover,
.field.has-addons .control .input:not([disabled]):focus:hover,
.field.has-addons .control .input:not([disabled]).is-focused:hover,
.field.has-addons .control .input:not([disabled]):active:hover,
.field.has-addons .control .input:not([disabled]).is-active:hover,
.field.has-addons .control .select select:not([disabled]):focus:hover,
.field.has-addons .control .select select:not([disabled]).is-focused:hover,
.field.has-addons .control .select select:not([disabled]):active:hover,
.field.has-addons .control .select select:not([disabled]).is-active:hover {
    z-index: 4;
}

.field.has-addons .control.is-expanded {
    flex-grow: 1;
}

.field.has-addons.has-addons-centered {
    justify-content: center;
}

.field.has-addons.has-addons-right {
    justify-content: flex-end;
}

.field.has-addons.has-addons-fullwidth .control {
    flex-grow: 1;
    flex-shrink: 0;
}

.field.is-grouped {
    display: flex;
    justify-content: flex-start;
}

.field.is-grouped > .control {
    flex-shrink: 0;
}

.field.is-grouped > .control:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.75rem;
}

.field.is-grouped > .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}

.field.is-grouped.is-grouped-centered {
    justify-content: center;
}

.field.is-grouped.is-grouped-right {
    justify-content: flex-end;
}

.field.is-grouped.is-grouped-multiline {
    flex-wrap: wrap;
}

.field.is-grouped.is-grouped-multiline > .control:last-child, .field.is-grouped.is-grouped-multiline > .control:not(:last-child) {
    margin-bottom: 0.75rem;
}

.field.is-grouped.is-grouped-multiline:last-child {
    margin-bottom: -0.75rem;
}

.field.is-grouped.is-grouped-multiline:not(:last-child) {
    margin-bottom: 0;
}

@media screen and (min-width: 769px), print {
    .field.is-horizontal {
        display: flex;
    }
}

.field-label .label {
    font-size: inherit;
}

@media screen and (max-width: 768px) {
    .field-label {
        margin-bottom: 0.5rem;
    }
}
delete, .modal-close, .is-unselectable, .button, .file, .breadcrumb, .pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis, .tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 0.625em;
}

.file.is-fullwidth .file-name {
    flex-grow: 1;
    max-width: none
}

.file.is-right {
    justify-content: flex-end
}

.file.is-right .file-cta {
    border-radius: 0 4px 4px 0
}

.file.is-right .file-name {
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
    order: -1
}

.file-label {
    align-items: stretch;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;
    position: relative
}

.file-label:hover .file-cta {
    background-color: #eee;
    color: #363636
}

.file-label:hover .file-name {
    border-color: #d5d5d5
}

.file-label:active .file-cta {
    background-color: #e8e8e8;
    color: #363636
}

.file-label:active .file-name {
    border-color: #cfcfcf
}

.file-input {
    height: 100%;
    left: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.file-cta, .file-name {
    border-color: #dbdbdb;
    border-radius: 4px;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap
}

.file-cta {
    background-color: #f5f5f5;
    color: #4a4a4a
}

.file-name {
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: block;
    max-width: 16em;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis
}

.file-icon {
    align-items: center;
    display: flex;
    height: 1em;
    justify-content: center;
    margin-right: .5em;
    width: 1em
}

.file-icon .fa {
    font-size: 14px
}

.file {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    position: relative
}

.file.is-white .file-cta {
    background-color: #fff;
    border-color: transparent;
    color: #0a0a0a
}

.file.is-white.is-hovered .file-cta, .file.is-white:hover .file-cta {
    background-color: #f9f9f9;
    border-color: transparent;
    color: #0a0a0a
}

.file.is-white.is-focused .file-cta, .file.is-white:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(255, 255, 255, .25);
    color: #0a0a0a
}

.file.is-white.is-active .file-cta, .file.is-white:active .file-cta {
    background-color: #f2f2f2;
    border-color: transparent;
    color: #0a0a0a
}

.file.is-black .file-cta {
    background-color: #0a0a0a;
    border-color: transparent;
    color: #fff
}

.file.is-black.is-hovered .file-cta, .file.is-black:hover .file-cta {
    background-color: #040404;
    border-color: transparent;
    color: #fff
}

.file.is-black.is-focused .file-cta, .file.is-black:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(10, 10, 10, .25);
    color: #fff
}

.file.is-black.is-active .file-cta, .file.is-black:active .file-cta {
    background-color: #000;
    border-color: transparent;
    color: #fff
}

.file.is-light .file-cta {
    background-color: #f5f5f5;
    border-color: transparent;
    color: #363636
}
.inner-addon {
    position: relative;
}
.file.is-light.is-hovered .file-cta, .file.is-light:hover .file-cta {
    background-color: #eee;
    border-color: transparent;
    color: #363636
}

.file.is-light.is-focused .file-cta, .file.is-light:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(245, 245, 245, .25);
    color: #363636
}

.file.is-light.is-active .file-cta, .file.is-light:active .file-cta {
    background-color: #e8e8e8;
    border-color: transparent;
    color: #363636
}

.file.is-dark .file-cta {
    background-color: #363636;
    border-color: transparent;
    color: #f5f5f5
}

.file.is-dark.is-hovered .file-cta, .file.is-dark:hover .file-cta {
    background-color: #2f2f2f;
    border-color: transparent;
    color: #f5f5f5
}

.file.is-dark.is-focused .file-cta, .file.is-dark:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(54, 54, 54, .25);
    color: #f5f5f5
}

.file.is-dark.is-active .file-cta, .file.is-dark:active .file-cta {
    background-color: #292929;
    border-color: transparent;
    color: #f5f5f5
}

.file.is-primary .file-cta {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff
}

.file.is-primary.is-hovered .file-cta, .file.is-primary:hover .file-cta {
    background-color: #00c4a7;
    border-color: transparent;
    color: #fff
}

.file.is-primary.is-focused .file-cta, .file.is-primary:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(0, 209, 178, .25);
    color: #fff
}

.file.is-primary.is-active .file-cta, .file.is-primary:active .file-cta {
    background-color: #00b89c;
    border-color: transparent;
    color: #fff
}

.file.is-link .file-cta {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff
}

.file.is-link.is-hovered .file-cta, .file.is-link:hover .file-cta {
    background-color: #276cda;
    border-color: transparent;
    color: #fff
}

.file.is-link.is-focused .file-cta, .file.is-link:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(50, 115, 220, .25);
    color: #fff
}

.file.is-link.is-active .file-cta, .file.is-link:active .file-cta {
    background-color: #2366d1;
    border-color: transparent;
    color: #fff
}

.file.is-info .file-cta {
    background-color: #209cee;
    border-color: transparent;
    color: #fff
}

.file.is-info.is-hovered .file-cta, .file.is-info:hover .file-cta {
    background-color: #1496ed;
    border-color: transparent;
    color: #fff
}

.file.is-info.is-focused .file-cta, .file.is-info:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(32, 156, 238, .25);
    color: #fff
}

.file.is-info.is-active .file-cta, .file.is-info:active .file-cta {
    background-color: #118fe4;
    border-color: transparent;
    color: #fff
}

.file.is-success .file-cta {
    background-color: #23d160;
    border-color: transparent;
    color: #fff
}

.file.is-success.is-hovered .file-cta, .file.is-success:hover .file-cta {
    background-color: #22c65b;
    border-color: transparent;
    color: #fff
}

.file.is-success.is-focused .file-cta, .file.is-success:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(35, 209, 96, .25);
    color: #fff
}

.file.is-success.is-active .file-cta, .file.is-success:active .file-cta {
    background-color: #20bc56;
    border-color: transparent;
    color: #fff
}

.file.is-warning .file-cta {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.file.is-warning.is-hovered .file-cta, .file.is-warning:hover .file-cta {
    background-color: #ffdb4a;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.file.is-warning.is-focused .file-cta, .file.is-warning:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(255, 221, 87, .25);
    color: rgba(0, 0, 0, .7)
}

.file.is-warning.is-active .file-cta, .file.is-warning:active .file-cta {
    background-color: #ffd83d;
    border-color: transparent;
    color: rgba(0, 0, 0, .7)
}

.file.is-danger .file-cta {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff
}

.file.is-danger.is-hovered .file-cta, .file.is-danger:hover .file-cta {
    background-color: #ff2b56;
    border-color: transparent;
    color: #fff
}

.file.is-danger.is-focused .file-cta, .file.is-danger:focus .file-cta {
    border-color: transparent;
    box-shadow: 0 0 .5em rgba(255, 56, 96, .25);
    color: #fff
}

.file.is-danger.is-active .file-cta, .file.is-danger:active .file-cta {
    background-color: #ff1f4b;
    border-color: transparent;
    color: #fff
}

.file.is-small {
    font-size: .75rem
}

.file.is-medium {
    font-size: 1.25rem
}

.file.is-medium .file-icon .fa {
    font-size: 21px
}

.file.is-large {
    font-size: 1.5rem
}

.file.is-large .file-icon .fa {
    font-size: 28px
}

.file.has-name .file-cta {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.file.has-name .file-name {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.file.has-name.is-empty .file-cta {
    border-radius: 4px
}

.file.has-name.is-empty .file-name {
    display: none
}

.file.is-boxed .file-label {
    flex-direction: column
}

.file.is-boxed .file-cta {
    flex-direction: column;
    height: auto;
    padding: 1em 3em
}

.file.is-boxed .file-name {
    border-width: 0 1px 1px
}

.file.is-boxed .file-icon {
    height: 1.5em;
    width: 1.5em
}

.file.is-boxed .file-icon .fa {
    font-size: 21px
}

.file.is-boxed.is-small .file-icon .fa {
    font-size: 14px
}

.file.is-boxed.is-medium .file-icon .fa {
    font-size: 28px
}

.file.is-boxed.is-large .file-icon .fa {
    font-size: 35px
}

.file.is-boxed.has-name .file-cta {
    border-radius: 4px 4px 0 0
}

.file.is-boxed.has-name .file-name {
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px
}

.file.is-centered {
    justify-content: center
}

.file.is-fullwidth .file-label {
    width: 100%
}

.file.is-fullwidth .file-name {
    flex-grow: 1;
    max-width: none
}

.file.is-right {
    justify-content: flex-end
}

.file.is-right .file-cta {
    border-radius: 0 4px 4px 0
}

.file.is-right .file-name {
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
    order: -1
}

.file-label {
    align-items: stretch;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;
    position: relative
}

.file-label:hover .file-cta {
    background-color: #eee;
    color: #363636
}
